NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXTAUTH_SECRET=your_random_secret_string
NEXTAUTH_URL=https://cartncodform-beryl.vercel.app
