SHOPIFY_API_KEY=your_api_key_here
SHOPIFY_API_SECRET=your_api_secret_here
SHOP_DOMAIN=your_store.myshopify.com
MONGODB_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/your_database?retryWrites=true&w=majority
PORT=4000
BACKEND_URL=https://cartncodform-backend.onrender.com
FRONTEND_URL=https://cartncodform-beryl.vercel.app
RESEND_API_KEY=your_resend_api_key_here
FROM_EMAIL=onboarding@resend.dev
TEST_OWNER_EMAIL=your_email_here
FIREBASE_PROJECT_ID=cartncodform
FIREBASE_CLIENT_EMAIL=your_firebase_client_email
FIREBASE_PRIVATE_KEY=your_firebase_private_key